{% extends "base.html" %}
{% block main %}

<section class="main">

    <h1>All Products</h1>

    <section class="products_grid">

        {% for sku, item in products.items() %}
            <div class="product_card">
                <a href="{{ url_for('item', sku=sku) }}">
                    <div class="product_image" style="background-image: url('{{ item['image'] }}')">
                    </div>
                    <div class="info">
                        <h3>{{ item['name'] }}</h3>
                        <p>Price: €{{ item['price'] }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    
    </section>

{% endblock %}